.main{
    background-color:#afd275;
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ham{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 218, 170);
    height: 150px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.479),-4px -4px 15px 0px rgb(255, 255, 255);

}

.line1 , .line2 , .line3{
    position: absolute;
    height: 10px;
    width: 100px;
    background-color:white ;
    border-radius: 5px;
    box-shadow: 2px 1px 8px 0px rgb(131, 131, 131);
}
.line2{
    margin-bottom: 50px;
}
.line3{
    margin-top: 50px;
    /* transform: rotate(45deg); */
}

